<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <p>Hello there, {{name}}!</p>

        {{#each skill-categories}}
        <div class="skill-box fade">
            <p class="skill-title">{{group}}</p>
            <ul>
            {{#each items}}
                <li>{{name}}</li>
            {{/each}}
            </ul>
        </div>
        {{/each}}
</body>
</html>
