/**************************************************
joeynguyen.com v2 site
***************************************************/
/* line 1, ../../src/css/_typography.scss */
body {
  color: #414141;
  font-family: 'Oswald', sans-serif;
}

/* line 6, ../../src/css/_typography.scss */
p {
  font-size: 17px;
  font-family: 'Sorts Mill Goudy', Georgia, 'Times New Roman', Times, serif;
}

/* line 10, ../../src/css/_typography.scss */
a {
  color: #414141;
}

/* line 13, ../../src/css/_typography.scss */
a:hover {
  color: #CC5500;
  text-decoration: none;
}

/* line 17, ../../src/css/_typography.scss */
ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 23, ../../src/css/_typography.scss */
h1 {
  font-family: 'Sorts Mill Goudy', Georgia, 'Times New Roman', Times, serif;
  text-transform: uppercase;
}

/* line 27, ../../src/css/_typography.scss */
h2 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 65px;
  text-align: center;
  margin-bottom: 0;
}

/* line 34, ../../src/css/_typography.scss */
h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  margin: 13px 0 0;
}

/* line 43, ../../src/css/_typography.scss */
h4 {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 20px;
}

/* line 1, ../../src/css/_layout.scss */
.site {
  overflow: hidden;
  position: relative;
}

/* line 5, ../../src/css/_layout.scss */
.main-content {
  z-index: 100;
}

/* line 9, ../../src/css/_layout.scss */
.header-sprite {
  height: 109px;
  background-image: url('../../images/header-sprites.jpg?1391331693');
  margin: 0 auto;
}

/* line 14, ../../src/css/_layout.scss */
.header-sprite-about {
  width: 160px;
  background-position: 0px 0px;
}

/* line 18, ../../src/css/_layout.scss */
.header-sprite-skills {
  width: 150px;
  background-position: -160px 0px;
}

/* line 22, ../../src/css/_layout.scss */
.header-sprite-work {
  width: 100px;
  background-position: -310px 0px;
}

/* line 26, ../../src/css/_layout.scss */
.header-sprite-contact {
  width: 150px;
  background-position: -411px 0px;
  height: 156px;
}

/* line 31, ../../src/css/_layout.scss */
.page {
  overflow: hidden;
  margin: 20px 0;
}

@media (min-width: 768px) {
  /* line 36, ../../src/css/_layout.scss */
  .page {
    overflow: hidden;
    margin: 40px 0;
  }
}
/* line 41, ../../src/css/_layout.scss */
.page-header {
  background: url('../../images/page-header.png?1391653547') center bottom no-repeat;
  padding-bottom: 20px;
  margin: 0 0 30px;
  border-bottom: none;
}

@media (min-width: 768px), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 48, ../../src/css/_layout.scss */
  .page-header {
    background-image: url('../../images/page-header@2x.png?1391653547');
    -webkit-background-size: 600px 14px;
    -moz-background-size: 600px 14px;
    background-size: 600px 14px;
  }
}
/* line 56, ../../src/css/_layout.scss */
.ribbon-row {
  clear: both;
}

/* line 59, ../../src/css/_layout.scss */
.ribbon {
  background-image: url('../../images/line.png?1391653547');
  width: 100px;
  height: 28px;
  margin: 0 auto;
}

/* line 65, ../../src/css/_layout.scss */
.ribbon-outer {
  position: relative;
  height: 28px;
  margin: 20px 0;
  clear: both;
}

/* line 71, ../../src/css/_layout.scss */
.ribbon-outer .ribbon {
  background-color: white;
  z-index: 20;
  position: relative;
  padding: 0 10px;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  background-repeat: no-repeat;
  background-position: 10px 0px;
}

/* line 82, ../../src/css/_layout.scss */
.ribbon-outer .hr {
  position: absolute;
  top: 50%;
  width: 100%;
  border-top: 1px solid #777;
  content: "";
  z-index: 10;
}

/* line 91, ../../src/css/_layout.scss */
.turtle {
  background-image: url('../../images/turtle.png?1391653548');
  position: absolute;
  top: 3000px;
  width: 49px;
  height: 80px;
  -webkit-animation-name: turtle;
  -webkit-animation-duration: 60s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-delay: 0;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: turtle;
  -moz-animation-duration: 60s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: 1;
  -moz-animation-direction: normal;
  -moz-animation-delay: 0;
  -moz-animation-play-state: running;
  -moz-animation-fill-mode: forwards;
  -ms-animation-name: turtle;
  -ms-animation-duration: 60s;
  -ms-animation-timing-function: linear;
  -ms-animation-iteration-count: 1;
  -ms-animation-direction: normal;
  -ms-animation-delay: 0;
  -ms-animation-play-state: running;
  -ms-animation-fill-mode: forwards;
  animation-name: turtle;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-delay: 0;
  animation-play-state: running;
  animation-fill-mode: forwards;
}

@-webkit-keyframes turtle {
  /* line 131, ../../src/css/_layout.scss */
  0% {
    top: 3000px;
    left: 0;
  }

  /* line 135, ../../src/css/_layout.scss */
  100% {
    top: 0px;
    left: 0;
  }
}

@-moz-keyframes turtle {
  /* line 141, ../../src/css/_layout.scss */
  0% {
    top: 3000px;
    left: 0;
  }

  /* line 145, ../../src/css/_layout.scss */
  100% {
    top: 0px;
    left: 0;
  }
}

@-ms-keyframes turtle {
  /* line 151, ../../src/css/_layout.scss */
  0% {
    top: 3000px;
    left: 0;
  }

  /* line 155, ../../src/css/_layout.scss */
  100% {
    top: 0px;
    left: 0;
  }
}

@keyframes turtle {
  /* line 161, ../../src/css/_layout.scss */
  0% {
    top: 3000px;
    left: 0;
  }

  /* line 165, ../../src/css/_layout.scss */
  100% {
    top: 0px;
    left: 0;
  }
}

@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 171, ../../src/css/_layout.scss */
  .turtle {
    background-image: url('../../images/turtle@2x.png?1391653548');
    -webkit-background-size: 49px 80px;
    -moz-background-size: 49px 80px;
    background-size: 49px 80px;
  }
}
/* line 1, ../../src/css/_header.scss */
header {
  border-top: 3px solid #414141;
}

/* line 1, ../../src/css/_navigation.scss */
.navigation {
  width: 240px;
  position: absolute;
  top: 400px;
  right: -187px;
  margin-bottom: 0;
  -webkit-transition: right 1.2s ease-out;
  -moz-transition: right 1.2s ease-out;
  -o-transition: right 1.2s ease-out;
  transition: right 1.2s ease-out;
  z-index: 500;
}

/* line 13, ../../src/css/_navigation.scss */
.navigation.fixed {
  position: fixed;
  top: 0px;
}

/* line 17, ../../src/css/_navigation.scss */
.navigation.wide {
  right: 0;
  -webkit-transition: right .8s ease-out;
  -moz-transition: right .8s ease-out;
  -o-transition: right .8s ease-out;
  transition: right .8s ease-out;
}

/* line 25, ../../src/css/_navigation.scss */
.logo h1 {
  margin: 0;
}

/* line 29, ../../src/css/_navigation.scss */
.logo h1 a {
  font-size: 27px;
  text-align: center;
  line-height: 27px;
  text-decoration: none;
  display: block;
  width: 53px;
  height: 69px;
  padding: 10px 10px 0;
  border-top: 3px solid #414141;
  color: #414141;
  background: transparent;
  -webkit-transition: width 1.2s ease-out;
  -moz-transition: width 1.2s ease-out;
  -o-transition: width 1.2s ease-out;
  transition: width 1.2s ease-out;
}

/* line 47, ../../src/css/_navigation.scss */
.logo h1 a:hover, .logo h1 a:active {
  background: #414141;
  color: white;
}

/* line 51, ../../src/css/_navigation.scss */
.logo h1 a.active {
  background: #414141;
  color: white;
  border-left: 1px solid #414141;
  padding-left: 9px;
  -webkit-transition: width 1s ease-out;
  -moz-transition: width 1s ease-out;
  -o-transition: width 1s ease-out;
  transition: width 1s ease-out;
}

/* line 61, ../../src/css/_navigation.scss */
.logo h1 a span {
  font-size: 0px;
  float: left;
  display: block;
  height: 27px;
  -webkit-transition: font 2s;
  -moz-transition: font 2s;
  -o-transition: font 2s;
  transition: font 2s;
}

/* line 71, ../../src/css/_navigation.scss */
.logo h1 a span:first-letter {
  font-size: 27px;
}

/* line 74, ../../src/css/_navigation.scss */
.logo h1 a span::first-letter {
  font-size: 27px;
}

/* line 77, ../../src/css/_navigation.scss */
.logo h1 a span.first-name {
  width: 10px;
}

/* line 80, ../../src/css/_navigation.scss */
.logo h1 a span.last-name {
  width: 23px;
}

/* line 83, ../../src/css/_navigation.scss */
.logo h1 a span.glyphicon {
  font-size: 18px;
  height: 18px;
  float: none;
  display: inline;
}

/* line 90, ../../src/css/_navigation.scss */
.logo h1 a.active-wide {
  background: #414141;
  color: white;
  width: 240px;
  border-left: 1px solid #414141;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

/* line 100, ../../src/css/_navigation.scss */
.logo h1 a.active:hover, .logo h1 a.active-wide:hover, .logo h1 a.active:active, .logo h1 a.active-wide:active {
  color: #414141;
  background: white;
}

/* line 104, ../../src/css/_navigation.scss */
.logo h1 a.active-wide span {
  font-size: 27px;
  float: none;
  width: auto;
  display: inline;
}

/* line 110, ../../src/css/_navigation.scss */
.logo h1 a.active-wide span.glyphicon {
  font-size: 18px;
}

/* line 114, ../../src/css/_navigation.scss */
.navigation-nav {
  border-bottom: 1px solid #414141;
  border-left: 1px solid #414141;
}

/* line 119, ../../src/css/_navigation.scss */
.navigation-nav li {
  line-height: 1em;
}

/* line 123, ../../src/css/_navigation.scss */
.navigation-nav li a {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  line-height: 45px;
  color: white;
  text-transform: uppercase;
  text-indent: 5px;
  letter-spacing: 1px;
  display: block;
  padding-top: 5px;
  padding-bottom: 0;
  background: #414141;
}

/* line 136, ../../src/css/_navigation.scss */
.navigation-nav li a:hover, .navigation-nav li a:focus {
  color: #414141;
  background: white;
}

/* line 140, ../../src/css/_navigation.scss */
.navigation-nav li a span.glyphicon {
  font-size: 28px;
  width: 51px;
  line-height: 40px;
  text-align: center;
  float: left;
  text-indent: 0;
}

/* line 1, ../../src/css/_page-about.scss */
.about-text p:first-child:first-letter {
  /* for IE8 and below. one colon instead of two */
  vertical-align: middle;
  display: block;
  float: left;
  margin: 6px 16px -3px 0;
  font-size: 400%;
  line-height: 100%;
}

/* line 10, ../../src/css/_page-about.scss */
.about-text p:first-child::first-letter {
  vertical-align: middle;
  display: block;
  float: left;
  margin: 6px 16px -3px 0;
  font-size: 400%;
  line-height: 100%;
}

/* PROGRESS BAR */
/* line 21, ../../src/css/_page-about.scss */
.progress {
  height: 34px;
  position: relative;
  background: #f9f9f9 url('../../images/stripe.png?1390600082');
  margin-bottom: 18px;
  -webkit-background-size: 4px 4px;
  -moz-background-size: 4px 4px;
  background-size: 4px 4px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 33, ../../src/css/_page-about.scss */
.progress-bar {
  position: absolute;
  left: -650px;
  z-index: 1;
  transition: left ease 1s;
}

/* line 40, ../../src/css/_page-about.scss */
.progress-bar.active {
  left: 0px;
  transition-duration: 1s;
}

/* line 45, ../../src/css/_page-about.scss */
.progress-bar-norris {
  background-color: #428bca;
}

/* line 49, ../../src/css/_page-about.scss */
.progress-bar-label {
  font-size: 15px;
  position: absolute;
  left: 15px;
  font-family: 'Oswald', sans-serif;
  line-height: 34px;
  text-transform: uppercase;
  z-index: 1;
  transition: color ease 1.5s;
}

/* line 59, ../../src/css/_page-about.scss */
.progress-bar-label.active {
  color: white;
  transition-duration: 1.5s;
}

/* line 1, ../../src/css/_page-contact.scss */
.page-contact p {
  text-align: center;
}

/* line 1, ../../src/css/_page-skills.scss */
.skill-box {
  width: 75%;
  padding: 20px 0 10px;
  margin: 0 auto;
  border-top: 1px dotted #414141;
  -webkit-transition: all 1.5s ease-out;
  -moz-transition: all 1.5s ease-out;
  -o-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out;
}

/* line 11, ../../src/css/_page-skills.scss */
.skill-box.skill-box-first {
  border-top: none;
}

@media (min-width: 768px) {
  /* line 15, ../../src/css/_page-skills.scss */
  .skill-box.skill-box-top {
    border-top: none;
  }
}
/* line 19, ../../src/css/_page-skills.scss */
.skill-box p {
  text-align: center;
}

/* line 22, ../../src/css/_page-skills.scss */
.skill-title {
  font-size: 20px;
  text-transform: uppercase;
}

/* line 26, ../../src/css/_page-skills.scss */
.skill-box .glyphicon {
  font-size: 20px;
}

/* line 1, ../../src/css/_page-work.scss */
.work-slideshow {
  display: none;
  overflow: hidden;
}

/* line 6, ../../src/css/_page-work.scss */
.carousel {
  margin-bottom: 40px;
}

/* line 9, ../../src/css/_page-work.scss */
.carousel-inner {
  border-bottom: 2px solid #aaa;
}

/* line 12, ../../src/css/_page-work.scss */
.carousel-inner .item {
  padding: 20px 0;
  overflow: hidden;
}

/* line 17, ../../src/css/_page-work.scss */
.slideshow-controls-outer {
  position: relative;
  width: 100%;
  height: 80px;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #aaa;
}

/* line 24, ../../src/css/_page-work.scss */
.slideshow-controls {
  position: absolute;
  text-transform: uppercase;
  color: #888;
  font-size: 18px;
  line-height: 80px;
  letter-spacing: 2px;
}

/* line 32, ../../src/css/_page-work.scss */
.slideshow-controls:hover {
  color: #414141;
}

/* line 35, ../../src/css/_page-work.scss */
.slideshow-controls-left {
  left: 0;
}

/* line 38, ../../src/css/_page-work.scss */
.slideshow-controls-close {
  left: 49%;
}

/* line 41, ../../src/css/_page-work.scss */
.slideshow-controls-right {
  right: 0;
}

/* line 45, ../../src/css/_page-work.scss */
.portfolio-image {
  width: 290px;
  height: 159px;
  border: 2px solid black;
  background-position: center top;
  margin: 20px 0;
}

/* line 52, ../../src/css/_page-work.scss */
.portfolio-image-1 {
  background-image: url('../../images/work/gregg-orr-xs.jpg?1390600084');
}

/* line 55, ../../src/css/_page-work.scss */
.portfolio-image-2 {
  background-image: url('../../images/work/sewell-xs.jpg?1390600085');
}

/* line 58, ../../src/css/_page-work.scss */
.portfolio-image-3 {
  background-image: url('../../images/work/lone-star-xs.jpg?1390600084');
}

/* line 62, ../../src/css/_page-work.scss */
.portfolio-content {
  margin: 20px 0;
}

/* line 65, ../../src/css/_page-work.scss */
.portfolio-content h4 a:hover {
  color: #888;
}

/* line 68, ../../src/css/_page-work.scss */
.portfolio-content ul {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* line 74, ../../src/css/_page-work.scss */
.portfolio-content ul li {
  position: relative;
  line-height: 1.6;
  padding-left: 30px;
  margin-bottom: 6px;
  margin-left: 0;
}

/* line 81, ../../src/css/_page-work.scss */
.portfolio-content ul li .glyphicon {
  font-size: 14px;
  margin-right: 10px;
  position: absolute;
  top: 1px;
  left: 0;
}

/* line 88, ../../src/css/_page-work.scss */
.portfolio-content ul li .client-label {
  display: inline-block;
  width: 85px;
}

/* line 93, ../../src/css/_page-work.scss */
.work-site-list {
  margin-bottom: 20px;
}

/* line 96, ../../src/css/_page-work.scss */
.work-img {
  position: relative;
  display: block;
  width: 290px;
  height: 159px;
  margin: 0 auto 20px;
  border: 2px solid black;
  background-position: center top;
  z-index: 10;
  cursor: pointer;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

/* line 111, ../../src/css/_page-work.scss */
.work-img:hover, .work-img:active {
  z-index: 20;
  -ms-transform: scale(1.2);
  /* IE 9 */
  -moz-transform: scale(1.2);
  /* Firefox */
  -webkit-transform: scale(1.2);
  /* Safari and Chrome */
  -o-transform: scale(1.2);
  /* Opera */
  transform: scale(1.2);
}

/* line 119, ../../src/css/_page-work.scss */
.work-img-1 {
  background-image: url('../../images/work/gregg-orr-xs.jpg?1390600084');
}

/* line 122, ../../src/css/_page-work.scss */
.work-img-2 {
  background-image: url('../../images/work/sewell-xs.jpg?1390600085');
}

/* line 125, ../../src/css/_page-work.scss */
.work-img-3 {
  background-image: url('../../images/work/lone-star-xs.jpg?1390600084');
}

@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 130, ../../src/css/_page-work.scss */
  .portfolio-image {
    -webkit-background-size: 290px 159px;
    -moz-background-size: 290px 159px;
    background-size: 290px 159px;
  }

  /* line 135, ../../src/css/_page-work.scss */
  .portfolio-image-1 {
    background-image: url('../../images/work/gregg-orr-sm.jpg?1390600084');
  }

  /* line 138, ../../src/css/_page-work.scss */
  .portfolio-image-2 {
    background-image: url('../../images/work/sewell-sm.jpg?1390600085');
  }

  /* line 141, ../../src/css/_page-work.scss */
  .portfolio-image-3 {
    background-image: url('../../images/work/lone-star-sm.jpg?1390600084');
  }

  /* line 145, ../../src/css/_page-work.scss */
  .work-img {
    -webkit-background-size: 290px 159px;
    -moz-background-size: 290px 159px;
    background-size: 290px 159px;
  }

  /* line 150, ../../src/css/_page-work.scss */
  .work-img-1 {
    background-image: url('../../images/work/gregg-orr-sm.jpg?1390600084');
  }

  /* line 153, ../../src/css/_page-work.scss */
  .work-img-2 {
    background-image: url('../../images/work/sewell-sm.jpg?1390600085');
  }

  /* line 156, ../../src/css/_page-work.scss */
  .work-img-3 {
    background-image: url('../../images/work/lone-star-sm.jpg?1390600084');
  }

  /* line 160, ../../src/css/_page-work.scss */
  .ribbon {
    background-image: url('../../images/line@2x.png?1391653547');
    -webkit-background-size: 100px 28px;
    -moz-background-size: 100px 28px;
    background-size: 100px 28px;
  }

  /* line 166, ../../src/css/_page-work.scss */
  .hr .inner {
    background-image: url('../../images/line@2x.png?1391653547');
  }
}
@media (min-width: 768px) {
  /* line 171, ../../src/css/_page-work.scss */
  .portfolio-image {
    width: 630px;
    height: 346px;
    -webkit-background-size: 630px 346px;
    -moz-background-size: 630px 346px;
    background-size: 630px 346px;
  }

  /* line 178, ../../src/css/_page-work.scss */
  .portfolio-image-1 {
    background-image: url('../../images/work/gregg-orr-sm.jpg?1390600084');
  }

  /* line 181, ../../src/css/_page-work.scss */
  .portfolio-image-2 {
    background-image: url('../../images/work/sewell-sm.jpg?1390600085');
  }

  /* line 184, ../../src/css/_page-work.scss */
  .portfolio-image-3 {
    background-image: url('../../images/work/lone-star-sm.jpg?1390600084');
  }

  /* line 188, ../../src/css/_page-work.scss */
  .work-img {
    width: 315px;
    height: 173px;
    -webkit-background-size: 315px 173px;
    -moz-background-size: 315px 173px;
    background-size: 315px 173px;
  }

  /* line 195, ../../src/css/_page-work.scss */
  .carousel-inner .item .col-lg-4, .carousel-inner .item .col-lg-8 {
    padding: 0;
  }

  /* line 198, ../../src/css/_page-work.scss */
  .work-img-column .col-lg-4 {
    padding: 0;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 768px) and (min-resolution: 120dpi) {
  /* line 203, ../../src/css/_page-work.scss */
  .portfolio-image-1 {
    background-image: url('../../images/work/gregg-orr-md.jpg?1390600084');
  }

  /* line 206, ../../src/css/_page-work.scss */
  .portfolio-image-2 {
    background-image: url('../../images/work/sewell-md.jpg?1390600085');
  }

  /* line 209, ../../src/css/_page-work.scss */
  .portfolio-image-3 {
    background-image: url('../../images/work/lone-star-md.jpg?1390600085');
  }
}
/* line 1, ../../src/css/_parallax-backgrounds.scss */
.parallax-window {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-top: 2px solid #888;
  border-bottom: 2px solid #888;
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* line 9, ../../src/css/_parallax-backgrounds.scss */
  .parallax-window {
    -webkit-background-size: 1199px 500px;
    -moz-background-size: 1199px 500px;
    background-size: 1199px 500px;
  }
}
@media (min-width: 1200px) and (max-width: 1440px) {
  /* line 16, ../../src/css/_parallax-backgrounds.scss */
  .parallax-window {
    -webkit-background-size: 1440px 600px;
    -moz-background-size: 1440px 600px;
    background-size: 1440px 600px;
  }
}
@media (min-width: 1441px) and (max-width: 1680px) {
  /* line 23, ../../src/css/_parallax-backgrounds.scss */
  .parallax-window {
    -webkit-background-size: 1680px 700px;
    -moz-background-size: 1680px 700px;
    background-size: 1680px 700px;
  }
}
/* line 30, ../../src/css/_parallax-backgrounds.scss */
.parallax-window-first {
  height: 400px;
  background-image: url('../../images/parallax/computer-internals.jpg?1391653547');
}

/* line 34, ../../src/css/_parallax-backgrounds.scss */
.parallax-window-second {
  height: 400px;
  background-image: url('../../images/parallax/box-robots.jpg?1391653547');
  border-top: 2px solid #888;
  border-bottom: 2px solid #888;
}

/* line 40, ../../src/css/_parallax-backgrounds.scss */
.parallax-window-third {
  height: 400px;
  background-image: url('../../images/parallax/thundercloud.jpg?1391653548');
  border-top: 2px solid #888;
  border-bottom: 2px solid #888;
}

/* line 46, ../../src/css/_parallax-backgrounds.scss */
.parallax-window article {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 69px;
  color: white;
  height: 258px;
  position: absolute;
  top: 100px;
  width: 100%;
}

/* line 56, ../../src/css/_parallax-backgrounds.scss */
.parallax-window.parallax-window-first article {
  position: static;
  font-family: 'Sorts Mill Goudy', Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  height: 130px;
}

/* line 62, ../../src/css/_parallax-backgrounds.scss */
.parallax-window.parallax-window-first article span {
  color: #428bca;
  font-size: 16px;
}

/* line 66, ../../src/css/_parallax-backgrounds.scss */
.parallax-window.parallax-window-second article {
  font-family: 'Sorts Mill Goudy', Georgia, 'Times New Roman', Times, serif;
  color: #5B3434;
  font-size: 32px;
  font-style: italic;
  width: 45%;
  top: 19%;
  right: 12%;
}

/* line 75, ../../src/css/_parallax-backgrounds.scss */
.parallax-window.parallax-window-third article {
  color: #414141;
  font-size: 23px;
  font-family: 'Sorts Mill Goudy', Georgia, 'Times New Roman', Times, serif;
  text-align: right;
  width: 48%;
  top: 48px;
  left: 47%;
}

/* line 84, ../../src/css/_parallax-backgrounds.scss */
.parallax-window.parallax-window-third article span {
  font-size: 50px;
}

/* line 87, ../../src/css/_parallax-backgrounds.scss */
.article-outer-box {
  width: 90%;
  margin: 40px auto 0;
  border: 1px solid #ccc;
}

/* line 92, ../../src/css/_parallax-backgrounds.scss */
.article-middle-box {
  width: 99%;
  margin: .5%;
  border: 1px solid #ccc;
}

/* line 97, ../../src/css/_parallax-backgrounds.scss */
.article-inner-box {
  width: 99.4%;
  margin: .3%;
  border: 1px solid #ccc;
}

/* line 102, ../../src/css/_parallax-backgrounds.scss */
.article-decoration {
  margin: 20px auto 30px;
  width: 120px;
  height: 73px;
  background-image: url('../../images/article-decoration.png?1391331693');
}

@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 109, ../../src/css/_parallax-backgrounds.scss */
  .article-decoration {
    background-image: url('../../images/article-decoration@2x.png?1391488680');
    -webkit-background-size: 120px 83px;
    -moz-background-size: 120px 83px;
    background-size: 120px 83px;
  }
}
/* line 1, ../../src/css/_parallax-balloon.scss */
.parallax-window-balloon-outer {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* line 7, ../../src/css/_parallax-balloon.scss */
.animate-balloon {
  position: absolute;
  top: 20px;
  left: 50%;
  background: transparent;
  padding: 5px;
  border: 1px solid #414141;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-sizing: border-box;
  width: 114px;
  margin-left: -57px;
  z-index: 1000;
}

/* line 23, ../../src/css/_parallax-balloon.scss */
.parallax-window-balloon {
  height: 400px;
  background: #e3e5e5;
  z-index: 1000;
}

/* line 29, ../../src/css/_parallax-balloon.scss */
.parallax-balloon-bg {
  position: absolute;
  top: 0;
}

/* foreground (clouds) */
/* line 35, ../../src/css/_parallax-balloon.scss */
#parallax-balloon-bg-a {
  z-index: 4;
}
/* line 39, ../../src/css/_parallax-balloon.scss */
#parallax-balloon-bg-a.animate {
  -webkit-animation-name: cloud-bg-a;
  -webkit-animation-duration: 10s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-delay: 0;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: cloud-bg-a;
  -moz-animation-duration: 10s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: 1;
  -moz-animation-direction: normal;
  -moz-animation-delay: 0;
  -moz-animation-play-state: running;
  -moz-animation-fill-mode: forwards;
  -ms-animation-name: cloud-bg-a;
  -ms-animation-duration: 10s;
  -ms-animation-timing-function: linear;
  -ms-animation-iteration-count: 1;
  -ms-animation-direction: normal;
  -ms-animation-delay: 0;
  -ms-animation-play-state: running;
  -ms-animation-fill-mode: forwards;
  animation-name: cloud-bg-a;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-delay: 0;
  animation-play-state: running;
  animation-fill-mode: forwards;
}

@-webkit-keyframes cloud-bg-a {
  /* line 77, ../../src/css/_parallax-balloon.scss */
  0% {
    top: 0;
    left: 0;
  }

  /* line 81, ../../src/css/_parallax-balloon.scss */
  100% {
    top: 0;
    left: 600px;
  }
}

@-moz-keyframes cloud-bg-a {
  /* line 87, ../../src/css/_parallax-balloon.scss */
  0% {
    top: 0;
    left: 0;
  }

  /* line 91, ../../src/css/_parallax-balloon.scss */
  100% {
    top: 0;
    left: 600px;
  }
}

@-ms-keyframes cloud-bg-a {
  /* line 97, ../../src/css/_parallax-balloon.scss */
  0% {
    top: 0;
    left: 0;
  }

  /* line 101, ../../src/css/_parallax-balloon.scss */
  100% {
    top: 0;
    left: 600px;
  }
}

@keyframes cloud-bg-a {
  /* line 107, ../../src/css/_parallax-balloon.scss */
  0% {
    top: 0;
    left: 0;
  }

  /* line 111, ../../src/css/_parallax-balloon.scss */
  100% {
    top: 0;
    left: 600px;
  }
}

/* foreground (balloon) */
/* line 118, ../../src/css/_parallax-balloon.scss */
#parallax-balloon-bg-b {
  z-index: 3;
}
/* line 121, ../../src/css/_parallax-balloon.scss */
#parallax-balloon-bg-b.animate {
  -webkit-animation-name: balloon;
  -webkit-animation-duration: 10s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-delay: 0;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: balloon;
  -moz-animation-duration: 10s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: 1;
  -moz-animation-direction: normal;
  -moz-animation-delay: 0;
  -moz-animation-play-state: running;
  -moz-animation-fill-mode: forwards;
  -ms-animation-name: balloon;
  -ms-animation-duration: 10s;
  -ms-animation-timing-function: linear;
  -ms-animation-iteration-count: 1;
  -ms-animation-direction: normal;
  -ms-animation-delay: 0;
  -ms-animation-play-state: running;
  -ms-animation-fill-mode: forwards;
  animation-name: balloon;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-delay: 0;
  animation-play-state: running;
  animation-fill-mode: forwards;
}

@-webkit-keyframes balloon {
  /* line 158, ../../src/css/_parallax-balloon.scss */
  0% {
    top: 0;
    left: 0;
  }

  /* line 162, ../../src/css/_parallax-balloon.scss */
  100% {
    top: -900px;
    left: 200px;
  }
}

@-moz-keyframes balloon {
  /* line 168, ../../src/css/_parallax-balloon.scss */
  0% {
    top: 0;
    left: 0;
  }

  /* line 172, ../../src/css/_parallax-balloon.scss */
  100% {
    top: -900px;
    left: 200px;
  }
}

@-ms-keyframes balloon {
  /* line 178, ../../src/css/_parallax-balloon.scss */
  0% {
    top: 0;
    left: 0;
  }

  /* line 182, ../../src/css/_parallax-balloon.scss */
  100% {
    top: -900px;
    left: 200px;
  }
}

@keyframes balloon {
  /* line 188, ../../src/css/_parallax-balloon.scss */
  0% {
    top: 0;
    left: 0;
  }

  /* line 192, ../../src/css/_parallax-balloon.scss */
  100% {
    top: -900px;
    left: 200px;
  }
}

/* midground (clouds) */
/* line 199, ../../src/css/_parallax-balloon.scss */
#parallax-balloon-bg-c {
  z-index: 2;
}
/* line 202, ../../src/css/_parallax-balloon.scss */
#parallax-balloon-bg-c.animate {
  -webkit-animation-name: cloud-bg-c;
  -webkit-animation-duration: 10s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-delay: 0;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: cloud-bg-c;
  -moz-animation-duration: 10s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: 1;
  -moz-animation-direction: normal;
  -moz-animation-delay: 0;
  -moz-animation-play-state: running;
  -moz-animation-fill-mode: forwards;
  -ms-animation-name: cloud-bg-c;
  -ms-animation-duration: 10s;
  -ms-animation-timing-function: linear;
  -ms-animation-iteration-count: 1;
  -ms-animation-direction: normal;
  -ms-animation-delay: 0;
  -ms-animation-play-state: running;
  -ms-animation-fill-mode: forwards;
  animation-name: cloud-bg-c;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-delay: 0;
  animation-play-state: running;
  animation-fill-mode: forwards;
}

@-webkit-keyframes cloud-bg-c {
  /* line 240, ../../src/css/_parallax-balloon.scss */
  0% {
    top: 0;
    left: 0;
  }

  /* line 244, ../../src/css/_parallax-balloon.scss */
  100% {
    top: 0;
    left: 200px;
  }
}

@-moz-keyframes cloud-bg-c {
  /* line 250, ../../src/css/_parallax-balloon.scss */
  0% {
    top: 0;
    left: 0;
  }

  /* line 254, ../../src/css/_parallax-balloon.scss */
  100% {
    top: 0;
    left: 200px;
  }
}

@-ms-keyframes cloud-bg-c {
  /* line 260, ../../src/css/_parallax-balloon.scss */
  0% {
    top: 0;
    left: 0;
  }

  /* line 264, ../../src/css/_parallax-balloon.scss */
  100% {
    top: 0;
    left: 200px;
  }
}

@keyframes cloud-bg-c {
  /* line 270, ../../src/css/_parallax-balloon.scss */
  0% {
    top: 0;
    left: 0;
  }

  /* line 274, ../../src/css/_parallax-balloon.scss */
  100% {
    top: 0;
    left: 200px;
  }
}

/* background (clouds) */
/* line 281, ../../src/css/_parallax-balloon.scss */
#parallax-balloon-bg-d {
  z-index: 1;
}
/* line 284, ../../src/css/_parallax-balloon.scss */
#parallax-balloon-bg-d.animate {
  -webkit-animation-name: cloud-bg-d;
  -webkit-animation-duration: 10s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-delay: 0;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: cloud-bg-d;
  -moz-animation-duration: 10s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: 1;
  -moz-animation-direction: normal;
  -moz-animation-delay: 0;
  -moz-animation-play-state: running;
  -moz-animation-fill-mode: forwards;
  -ms-animation-name: cloud-bg-d;
  -ms-animation-duration: 10s;
  -ms-animation-timing-function: linear;
  -ms-animation-iteration-count: 1;
  -ms-animation-direction: normal;
  -ms-animation-delay: 0;
  -ms-animation-play-state: running;
  -ms-animation-fill-mode: forwards;
  animation-name: cloud-bg-d;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-delay: 0;
  animation-play-state: running;
  animation-fill-mode: forwards;
}

@-webkit-keyframes cloud-bg-d {
  /* line 322, ../../src/css/_parallax-balloon.scss */
  0% {
    top: 0;
    left: 0;
  }

  /* line 326, ../../src/css/_parallax-balloon.scss */
  100% {
    top: 0;
    left: 100px;
  }
}

@-moz-keyframes cloud-bg-d {
  /* line 332, ../../src/css/_parallax-balloon.scss */
  0% {
    top: 0;
    left: 0;
  }

  /* line 336, ../../src/css/_parallax-balloon.scss */
  100% {
    top: 0;
    left: 100px;
  }
}

@-ms-keyframes cloud-bg-d {
  /* line 342, ../../src/css/_parallax-balloon.scss */
  0% {
    top: 0;
    left: 0;
  }

  /* line 346, ../../src/css/_parallax-balloon.scss */
  100% {
    top: 0;
    left: 100px;
  }
}

@keyframes cloud-bg-d {
  /* line 352, ../../src/css/_parallax-balloon.scss */
  0% {
    top: 0;
    left: 0;
  }

  /* line 356, ../../src/css/_parallax-balloon.scss */
  100% {
    top: 0;
    left: 100px;
  }
}

/* sprites */
/* line 365, ../../src/css/_parallax-balloon.scss */
.parallax-balloon-bg .sprites {
  background-image: url('../../images/parallax/balloon-sprites-xs.png?1391653547');
  background-repeat: no-repeat;
  display: block;
  position: absolute;
}

/* line 372, ../../src/css/_parallax-balloon.scss */
.balloon {
  width: 180px;
  height: 258px;
  background-position: left top;
  top: 400px;
  left: 15px;
}

/* line 380, ../../src/css/_parallax-balloon.scss */
.cloud-lg {
  width: 166px;
  height: 45px;
  background-position: left -258px;
}

/* line 385, ../../src/css/_parallax-balloon.scss */
.cloud-md {
  width: 107px;
  height: 36px;
  background-position: left -303px;
}

/* line 390, ../../src/css/_parallax-balloon.scss */
.cloud-sm {
  width: 55px;
  height: 16px;
  background-position: -107px -303px;
}

/* line 395, ../../src/css/_parallax-balloon.scss */
.cloud-lg-a {
  top: 118px;
  left: 400px;
}

/* line 399, ../../src/css/_parallax-balloon.scss */
.cloud-lg-b {
  top: 305px;
  left: 30px;
}

/* line 403, ../../src/css/_parallax-balloon.scss */
.cloud-md-a {
  top: 150px;
  left: 236px;
}

/* line 407, ../../src/css/_parallax-balloon.scss */
.cloud-md-b {
  top: 265px;
  left: 542px;
}

/* line 411, ../../src/css/_parallax-balloon.scss */
.cloud-md-c {
  top: 250px;
  left: 1375px;
}

/* line 415, ../../src/css/_parallax-balloon.scss */
.cloud-sm-a {
  top: 129px;
  left: 10px;
}

/* line 419, ../../src/css/_parallax-balloon.scss */
.cloud-sm-b {
  top: 331px;
  left: 401px;
}

/* line 423, ../../src/css/_parallax-balloon.scss */
.cloud-sm-c {
  top: 300px;
  left: 75px;
}

/* line 427, ../../src/css/_parallax-balloon.scss */
.cloud-sm-d {
  top: 26px;
  left: 400px;
}

/* line 431, ../../src/css/_parallax-balloon.scss */
.cloud-sm-e {
  top: 100px;
  left: 1575px;
}

@media (min-width: 768px) {
  /* line 437, ../../src/css/_parallax-balloon.scss */
  .parallax-balloon-bg .sprites {
    background-image: url('../../images/parallax/balloon-sprites.png?1391653547');
  }

  /* line 440, ../../src/css/_parallax-balloon.scss */
  .balloon {
    width: 529px;
    height: 753px;
    top: 100px;
    left: 52%;
  }

  /* line 446, ../../src/css/_parallax-balloon.scss */
  .cloud-lg {
    width: 488px;
    height: 138px;
    background-position: left -757px;
  }

  /* line 451, ../../src/css/_parallax-balloon.scss */
  .cloud-md {
    width: 311px;
    height: 105px;
    background-position: left -895px;
  }

  /* line 456, ../../src/css/_parallax-balloon.scss */
  .cloud-sm {
    width: 160px;
    height: 48px;
    background-position: -311px -895px;
  }

  /* line 461, ../../src/css/_parallax-balloon.scss */
  .cloud-lg-a {
    top: 118px;
    left: 76%;
  }

  /* line 465, ../../src/css/_parallax-balloon.scss */
  .cloud-lg-b {
    top: 305px;
    left: 21%;
  }

  /* line 469, ../../src/css/_parallax-balloon.scss */
  .cloud-md-a {
    top: 150px;
    left: -6%;
  }

  /* line 473, ../../src/css/_parallax-balloon.scss */
  .cloud-md-b {
    top: 65px;
    left: 42%;
  }

  /* line 477, ../../src/css/_parallax-balloon.scss */
  .cloud-sm-a {
    top: 79px;
    left: 12%;
  }

  /* line 481, ../../src/css/_parallax-balloon.scss */
  .cloud-sm-b {
    top: 331px;
    left: 92%;
  }

  /* line 485, ../../src/css/_parallax-balloon.scss */
  .cloud-sm-c {
    top: 343px;
    left: -8%;
  }

  /* line 489, ../../src/css/_parallax-balloon.scss */
  .cloud-sm-d {
    top: 26px;
    left: 107%;
  }
}
