<div id="parallax-balloon" class="parallax-window-balloon-outer parallax-window-balloon">

    <button id="animate-balloon" class="animate-balloon">Click to Animate</button>

    <!-- Parallax foreground clouds -->
    <div id="parallax-balloon-bg-a" class="parallax-balloon-bg container">
        <div class="col-xs-12 col-sm-10 col-md-12 col-lg-12">
            <div class="sprites cloud-lg cloud-lg-a"></div>
            <div class="sprites cloud-lg cloud-lg-b"></div>
            <div class="sprites cloud-lg cloud-lg-c hidden-xs hidden-sm"></div>
            <div class="sprites cloud-lg cloud-lg-d hidden-xs hidden-sm"></div>
        </div>
    </div>

    <!-- Parallax foreground balloon -->
    <div id="parallax-balloon-bg-b" class="parallax-balloon-bg container">
        <div class="col-xs-12 col-sm-10 col-md-12 col-lg-12">
            <div class="sprites balloon"></div>
        </div>
    </div>

    <!-- Parallax midground clouds -->
    <div id="parallax-balloon-bg-c" class="parallax-balloon-bg container">
        <div class="col-xs-12 col-sm-10 col-md-12 col-lg-12">
            <div class="sprites cloud-md cloud-md-a"></div>
            <div class="sprites cloud-md cloud-md-b"></div>
            <div class="sprites cloud-md cloud-md-c hidden-xs hidden-sm"></div>
            <div class="sprites cloud-md cloud-md-d hidden-xs hidden-sm"></div>
        </div>
    </div>

    <!-- Parallax background clouds -->
    <div id="parallax-balloon-bg-d" class="parallax-balloon-bg container">
        <div class="col-xs-12 col-sm-10 col-md-12 col-lg-12">
            <div class="sprites cloud-sm cloud-sm-a"></div>
            <div class="sprites cloud-sm cloud-sm-b"></div>
            <div class="sprites cloud-sm cloud-sm-c"></div>
            <div class="sprites cloud-sm cloud-sm-d"></div>
            <div class="sprites cloud-sm cloud-sm-e hidden-xs hidden-sm"></div>
            <div class="sprites cloud-sm cloud-sm-f hidden-xs hidden-sm"></div>
        </div>
    </div>

</div><!-- end Parallax balloon section -->
