<!doctype html>
<html lang="en" class="no-js">
<head>
    {{#block "head"}}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.min.css" />
    <link href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy|Oswald' rel='stylesheet' type='text/css' />
    <!-- Pingdom Real User Monitoring -->
    <script>
    var _prum = [['id', '536a5468abe53d5306b25d7c'],
                 ['mark', 'firstbyte', (new Date()).getTime()]];
    (function() {
        var s = document.getElementsByTagName('script')[0]
          , p = document.createElement('script');
        p.async = 'async';
        p.src = '//rum-static.pingdom.net/prum.min.js';
        s.parentNode.insertBefore(p, s);
    })();
    </script>
    <!-- Google Analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22848919-3']);
      _gaq.push(['_setDomainName', '.joeynguyen.com']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script src="http://localhost:35729/livereload.js"></script>
    {{/block}}
</head>
<body>
    <div id="site" class="site">

        {{#block "header"}}
        {{> balloon }}

        <header>
            <div id="menu" class="navigation wide">
                <div id="navigation-elements-wrapper">
                    <div class="navigation-header">
                        <div class="logo">
                            <h1><a id="logoButton" class="active-wide" href="#top"><span class="first-name">Joey</span> <span class="last-name">Nguyen</span><br /><span class="glyphicon glyphicon-chevron-down"></span></a></h1>
                        </div>
                    </div>

                    <ul id="navigation-nav" class="navigation-nav">
                        <li><a id="nav-top" href="#top"><span class="glyphicon glyphicon-home"></span>Home</a></li>
                        <li><a id="nav-about" href="#page-about"><span class="glyphicon glyphicon-user"></span>About</a></li>
                        <li><a id="nav-skills" href="#page-skills"><span class="glyphicon glyphicon-fire"></span>Skills</a></li>
                        <li><a id="nav-contact" href="#page-contact"><span class="glyphicon glyphicon-envelope"></span>Contact</a></li>
                        <li><a id="nav-work" href="#page-work"><span class="glyphicon glyphicon-briefcase"></span>Work</a></li>
                    </ul>
                </div>
            </div>
        </header>
        {{/block}}

        {{#block "body"}}
        {{/block}}

        <div id="turtle" class="turtle"></div>

        <hr />

        {{#block "footer"}}
        <footer class="container">
            <p>Thanks for visiting.</p>
        </footer>
        {{/block}}
    </div>

    {{#block "foot"}}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript">
    if (typeof jQuery == 'undefined')
    {
        document.write(unescape("%3Cscript src='vendor/js/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
    }
    </script>
    <script src="vendor/js/bootstrap.min.js"></script>
    <script src="vendor/js/modernizr.custom.00570.js"></script>
    <script src="js/main.min.js"></script>
    {{/block}}
</body>
</html>
