.site { // This class's styles are needed for parallax images to work correctly
	overflow: hidden;
	position: relative;
}
.main-content {
	z-index: 100;
}

.header-sprite {
	height: 109px;
	background-image: image-url('header-sprites.jpg');
	margin: 0 auto;
}
.header-sprite-about {
	width: 160px;
	background-position: 0px 0px;
}
.header-sprite-skills {
	width: 150px;
	background-position: -160px 0px;
}
.header-sprite-work {
	width: 100px;
	background-position: -310px 0px;
}
.header-sprite-contact {
	width: 150px;
	background-position: -411px 0px;
	height: 156px;
}
.page {
	overflow: hidden;
	margin: 20px 0;
}
@media (min-width: 768px) {
	.page {
		overflow: hidden;
		margin: 40px 0;
	}
}
.page-header {
	background: image-url('page-header.png') center bottom no-repeat;
	padding-bottom: 20px;
	margin: 0 0 30px;
	border-bottom: none;
}
@media (min-width: 768px), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
	.page-header {
		background-image: image-url('page-header@2x.png');
		-webkit-background-size: 600px 14px;
		-moz-background-size: 600px 14px;
		background-size: 600px 14px;
	}
}

.ribbon-row {
	clear: both;
}
.ribbon {
	background-image: image-url('line.png');
	width: 100px;
	height: 28px;
	margin: 0 auto;
}
.ribbon-outer {
position: relative;
height: 28px;
margin: 20px 0;
clear: both;
}
.ribbon-outer .ribbon {
background-color: white;
z-index: 20;
position: relative;
padding: 0 10px;
box-sizing: content-box;
-moz-box-sizing: content-box;
-webkit-box-sizing: content-box;
background-repeat: no-repeat;
background-position: 10px 0px;
}
.ribbon-outer .hr {
position: absolute;
top: 50%;
width: 100%;
border-top: 1px solid #777;
content: "";
z-index: 10;
}

.turtle {
	background-image: image-url('turtle.png');
	position: absolute;
	top: 3000px;
	width: 49px;
	height: 80px;
		-webkit-animation-name: turtle;
		-webkit-animation-duration: 60s;
		-webkit-animation-timing-function: linear;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-direction: normal;
		-webkit-animation-delay: 0;
		-webkit-animation-play-state: running;
		-webkit-animation-fill-mode: forwards;
		-moz-animation-name: turtle;
		-moz-animation-duration: 60s;
		-moz-animation-timing-function: linear;
		-moz-animation-iteration-count: 1;
		-moz-animation-direction: normal;
		-moz-animation-delay: 0;
		-moz-animation-play-state: running;
		-moz-animation-fill-mode: forwards;
		-ms-animation-name: turtle;
		-ms-animation-duration: 60s;
		-ms-animation-timing-function: linear;
		-ms-animation-iteration-count: 1;
		-ms-animation-direction: normal;
		-ms-animation-delay: 0;
		-ms-animation-play-state: running;
		-ms-animation-fill-mode: forwards;
		animation-name: turtle;
		animation-duration: 60s;
		animation-timing-function: linear;
		animation-iteration-count: 1;
		animation-direction: normal;
		animation-delay: 0;
		animation-play-state: running;
		animation-fill-mode: forwards;
}
	@-webkit-keyframes turtle {
		0% {
			top: 3000px;
			left: 0;
		}
		100% {
			top: 0px;
			left: 0;
		}
	}
	@-moz-keyframes turtle {
		0% {
			top: 3000px;
			left: 0;
		}
		100% {
			top: 0px;
			left: 0;
		}
	}
	@-ms-keyframes turtle {
		0% {
			top: 3000px;
			left: 0;
		}
		100% {
			top: 0px;
			left: 0;
		}
	}
	@keyframes turtle {
		0% {
			top: 3000px;
			left: 0;
		}
		100% {
			top: 0px;
			left: 0;
		}
	}
@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
	.turtle {
		background-image: image-url('turtle@2x.png');
		-webkit-background-size: 49px 80px;
		-moz-background-size: 49px 80px;
		background-size: 49px 80px;
	}
}
