.parallax-window-balloon-outer {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.animate-balloon {
	position: absolute;
	top: 20px;
	left: 50%;
	background: transparent;
	padding: 5px;
	border: 1px solid #414141;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	box-sizing: border-box;
	width: 114px;
	margin-left: -57px;
	z-index: 1000;
}

.parallax-window-balloon {
	height: 400px;
	background: #e3e5e5;
	z-index: 1000;
}

.parallax-balloon-bg {
	position: absolute;
	top: 0;
}

/* foreground (clouds) */
#parallax-balloon-bg-a {
	z-index: 4;


	&.animate {
		-webkit-animation-name: cloud-bg-a;
		-webkit-animation-duration: 10s;
		-webkit-animation-timing-function: linear;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-direction: normal;
		-webkit-animation-delay: 0;
		-webkit-animation-play-state: running;
		-webkit-animation-fill-mode: forwards;
		-moz-animation-name: cloud-bg-a;
		-moz-animation-duration: 10s;
		-moz-animation-timing-function: linear;
		-moz-animation-iteration-count: 1;
		-moz-animation-direction: normal;
		-moz-animation-delay: 0;
		-moz-animation-play-state: running;
		-moz-animation-fill-mode: forwards;
		-ms-animation-name: cloud-bg-a;
		-ms-animation-duration: 10s;
		-ms-animation-timing-function: linear;
		-ms-animation-iteration-count: 1;
		-ms-animation-direction: normal;
		-ms-animation-delay: 0;
		-ms-animation-play-state: running;
		-ms-animation-fill-mode: forwards;	
		animation-name: cloud-bg-a;
		animation-duration: 10s;
		animation-timing-function: linear;
		animation-iteration-count: 1;	
		animation-direction: normal;
		animation-delay: 0;
		animation-play-state: running;
		animation-fill-mode: forwards;
	}

}

	@-webkit-keyframes cloud-bg-a {
		0% {
			top: 0;
			left: 0;
		}
		100% {
			top: 0;
			left: 600px;
		}
	}
	@-moz-keyframes cloud-bg-a {
		0% {
			top: 0;
			left: 0;
		}
		100% {
			top: 0;
			left: 600px;
		}
	}
	@-ms-keyframes cloud-bg-a {
		0% {
			top: 0;
			left: 0;
		}
		100% {
			top: 0;
			left: 600px;
		}
	}
	@keyframes cloud-bg-a {
		0% {
			top: 0;
			left: 0;
		}
		100% {
			top: 0;
			left: 600px;
		}
	}

/* foreground (balloon) */
#parallax-balloon-bg-b {
	z-index: 3;

	&.animate {
		-webkit-animation-name: balloon;
		-webkit-animation-duration: 10s;
		-webkit-animation-timing-function: linear;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-direction: normal;
		-webkit-animation-delay: 0;
		-webkit-animation-play-state: running;
		-webkit-animation-fill-mode: forwards;
		-moz-animation-name: balloon;
		-moz-animation-duration: 10s;
		-moz-animation-timing-function: linear;
		-moz-animation-iteration-count: 1;
		-moz-animation-direction: normal;
		-moz-animation-delay: 0;
		-moz-animation-play-state: running;
		-moz-animation-fill-mode: forwards;
		-ms-animation-name: balloon;
		-ms-animation-duration: 10s;
		-ms-animation-timing-function: linear;
		-ms-animation-iteration-count: 1;
		-ms-animation-direction: normal;
		-ms-animation-delay: 0;
		-ms-animation-play-state: running;
		-ms-animation-fill-mode: forwards;	
		animation-name: balloon;
		animation-duration: 10s;
		animation-timing-function: linear;
		animation-iteration-count: 1;	
		animation-direction: normal;
		animation-delay: 0;
		animation-play-state: running;
		animation-fill-mode: forwards;
	}

}
	@-webkit-keyframes balloon {
		0% {
			top: 0;
			left: 0;
		}
		100% {
			top: -900px;
			left: 200px;
		}
	}
	@-moz-keyframes balloon {
		0% {
			top: 0;
			left: 0;
		}
		100% {
			top: -900px;
			left: 200px;
		}
	}
	@-ms-keyframes balloon {
		0% {
			top: 0;
			left: 0;
		}
		100% {
			top: -900px;
			left: 200px;
		}
	}
	@keyframes balloon {
		0% {
			top: 0;
			left: 0;
		}
		100% {
			top: -900px;
			left: 200px;
		}
	}

/* midground (clouds) */
#parallax-balloon-bg-c {
	z-index: 2;

	&.animate {
		-webkit-animation-name: cloud-bg-c;
		-webkit-animation-duration: 10s;
		-webkit-animation-timing-function: linear;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-direction: normal;
		-webkit-animation-delay: 0;
		-webkit-animation-play-state: running;
		-webkit-animation-fill-mode: forwards;
		-moz-animation-name: cloud-bg-c;
		-moz-animation-duration: 10s;
		-moz-animation-timing-function: linear;
		-moz-animation-iteration-count: 1;
		-moz-animation-direction: normal;
		-moz-animation-delay: 0;
		-moz-animation-play-state: running;
		-moz-animation-fill-mode: forwards;
		-ms-animation-name: cloud-bg-c;
		-ms-animation-duration: 10s;
		-ms-animation-timing-function: linear;
		-ms-animation-iteration-count: 1;
		-ms-animation-direction: normal;
		-ms-animation-delay: 0;
		-ms-animation-play-state: running;
		-ms-animation-fill-mode: forwards;	
		animation-name: cloud-bg-c;
		animation-duration: 10s;
		animation-timing-function: linear;
		animation-iteration-count: 1;	
		animation-direction: normal;
		animation-delay: 0;
		animation-play-state: running;
		animation-fill-mode: forwards;
	}

}

	@-webkit-keyframes cloud-bg-c {
		0% {
			top: 0;
			left: 0;
		}
		100% {
			top: 0;
			left: 200px;
		}
	}
	@-moz-keyframes cloud-bg-c {
		0% {
			top: 0;
			left: 0;
		}
		100% {
			top: 0;
			left: 200px;
		}
	}
	@-ms-keyframes cloud-bg-c {
		0% {
			top: 0;
			left: 0;
		}
		100% {
			top: 0;
			left: 200px;
		}
	}
	@keyframes cloud-bg-c {
		0% {
			top: 0;
			left: 0;
		}
		100% {
			top: 0;
			left: 200px;
		}
	}

/* background (clouds) */
#parallax-balloon-bg-d {
	z-index: 1;

	&.animate {
		-webkit-animation-name: cloud-bg-d;
		-webkit-animation-duration: 10s;
		-webkit-animation-timing-function: linear;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-direction: normal;
		-webkit-animation-delay: 0;
		-webkit-animation-play-state: running;
		-webkit-animation-fill-mode: forwards;
		-moz-animation-name: cloud-bg-d;
		-moz-animation-duration: 10s;
		-moz-animation-timing-function: linear;
		-moz-animation-iteration-count: 1;
		-moz-animation-direction: normal;
		-moz-animation-delay: 0;
		-moz-animation-play-state: running;
		-moz-animation-fill-mode: forwards;
		-ms-animation-name: cloud-bg-d;
		-ms-animation-duration: 10s;
		-ms-animation-timing-function: linear;
		-ms-animation-iteration-count: 1;
		-ms-animation-direction: normal;
		-ms-animation-delay: 0;
		-ms-animation-play-state: running;
		-ms-animation-fill-mode: forwards;	
		animation-name: cloud-bg-d;
		animation-duration: 10s;
		animation-timing-function: linear;
		animation-iteration-count: 1;	
		animation-direction: normal;
		animation-delay: 0;
		animation-play-state: running;
		animation-fill-mode: forwards;
	}

}

	@-webkit-keyframes cloud-bg-d {
		0% {
			top: 0;
			left: 0;
		}
		100% {
			top: 0;
			left: 100px;
		}
	}
	@-moz-keyframes cloud-bg-d {
		0% {
			top: 0;
			left: 0;
		}
		100% {
			top: 0;
			left: 100px;
		}
	}
	@-ms-keyframes cloud-bg-d {
		0% {
			top: 0;
			left: 0;
		}
		100% {
			top: 0;
			left: 100px;
		}
	}
	@keyframes cloud-bg-d {
		0% {
			top: 0;
			left: 0;
		}
		100% {
			top: 0;
			left: 100px;
		}
	}



/* sprites */
.parallax-balloon-bg .sprites {
	background-image: image-url('parallax/balloon-sprites-xs.png');
	background-repeat: no-repeat;
	display: block;
	position: absolute;
}

.balloon {
	width: 180px;
	height: 258px;
	background-position: left top;
	top: 400px;
	left: 15px;
}

.cloud-lg {
	width: 166px;
	height: 45px;
	background-position: left -258px;
}
.cloud-md {
	width: 107px;
	height: 36px;
	background-position: left -303px;
}
.cloud-sm {
	width: 55px;
	height: 16px;
	background-position: -107px -303px;
}
.cloud-lg-a {
	top: 118px;
	left: 400px;		
}
.cloud-lg-b {
	top: 305px;
	left: 30px;
}
.cloud-md-a {
	top: 150px;
	left: 236px;
}
.cloud-md-b {
	top: 265px;
	left: 542px;
}
.cloud-md-c {
	top: 250px;
	left: 1375px;
}
.cloud-sm-a {
	top: 129px;
	left: 10px;
}
.cloud-sm-b {
	top: 331px;
	left: 401px;
}
.cloud-sm-c {
	top: 300px;
	left: 75px;
}
.cloud-sm-d {
	top: 26px;
	left: 400px;
}
.cloud-sm-e {
	top: 100px;
	left: 1575px;
}

@media (min-width: 768px) {
	.parallax-balloon-bg .sprites {
		background-image: image-url('parallax/balloon-sprites.png');
	}
	.balloon {
		width: 529px;
		height: 753px;
		top: 100px;
		left: 52%;
	}
	.cloud-lg {
		width: 488px;
		height: 138px;
		background-position: left -757px;
	}
	.cloud-md {
		width: 311px;
		height: 105px;
		background-position: left -895px;
	}
	.cloud-sm {
		width: 160px;
		height: 48px;
		background-position: -311px -895px;
	}
	.cloud-lg-a {
		top: 118px;
		left: 76%;		
	}
	.cloud-lg-b {
		top: 305px;
		left: 21%;
	}
	.cloud-md-a {
		top: 150px;
		left: -6%;
	}
	.cloud-md-b {
		top: 65px;
		left: 42%;
	}
	.cloud-sm-a {
		top: 79px;
		left: 12%;
	}
	.cloud-sm-b {
		top: 331px;
		left: 92%;
	}
	.cloud-sm-c {
		top: 343px;
		left: -8%;
	}
	.cloud-sm-d {
		top: 26px;
		left: 107%;
	}
}